.hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*main {
  flex-grow: 1;
}*/

:root {
  --second-family: 'Raleway', sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*common*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    padding: 0 15px;
    max-width: 1158px;
  }
}

/*header*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list,
.address {
  display: none;
}

.site-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);

  padding: 16px 0;
  display: block;
}

.accent {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    display: flex;
    gap: 40px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .site-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    display: flex;
    gap: 40px;
  }

  .header-list-link {
    display: inline-block;
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .header-list-link:hover,
  .header-list-link:focus {
    color: var(--ocean);
  }

  .header-list-link.active {
    color: var(--ocean);
  }

  .header-list-link.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--ocean);
    position: absolute;
    bottom: -1px;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--slate);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: var(--ocean);
  }
}

@media screen and (min-width: 1158px) {
  .site-logo {
    margin-right: 76px;
  }

  .header-list-link {
    padding: 24px 0;
  }

  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: var(--ocean);
  }
}

/*mobile menu*/

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;

  border-radius: 4px;

  padding-top: 72px;
  padding-bottom: 40px;

  height: 100%;
  background-color: transparent;

  position: relative;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close {
  cursor: pointer;
  width: 24px;
  height: 24px;

  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--cornflower);
  border: 1px solid var(--navy-blue);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-icon {
  fill: var(--navy-blue);
}

.menu-nav {
  margin-bottom: auto;
}

.menu-list-link {
  display: block;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.menu-list-link.active {
  color: var(--ocean);
}

.menu-list li:not(:last-child) {
  margin-bottom: 40px;
}

.menu-address-link {
  display: block;
  font-style: normal;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.menu-address li:not(:last-child) {
  margin-bottom: 24px;
}

.menu-address li:last-child {
  margin-bottom: 48px;
}

.menu-address-link.active {
  color: var(--iris);
}

.mobile-menu-icon {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
}

.menu-icon-item .icon-socials {
  fill: var(--cloud);
}

/*title*/

.title {
  background-color: var(--gray);
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/hero-mob.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  max-width: 320px;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .title {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-mob@2x.png');
  }
}

.title .main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--white);
  margin: 0 auto;
  margin-bottom: 72px;
}

.title-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  border-radius: 4px;
  height: 56px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  border: none;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .title {
    background-color: var(--gray);
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url('../images/hero/office-hero-tablet.png');
    padding: 112px 0;
    max-width: 768px;
  }

  .title .main-title {
    font-size: 56px;
    line-height: 1.07143;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .title {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url('../images/hero/office-hero-tablet@2x.png');
  }
}

@media screen and (min-width: 1158px) {
  .title {
    background-color: var(--navy-blue);
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      image-set(
        url('../images/hero/office-hero.png') 1x,
        url('../images/hero/office-hero@2x.png') 2x
      );
    padding: 188px 0;

    max-width: 1440px;
    margin: 0 auto;
  }

  .title .main-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
  }
}

/*info*/

.info {
  padding: 96px 0;
}

.info-icon-box {
  display: none;
}

.info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}

.title-benefits {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);

  margin-bottom: 8px;
}

.title-benefits-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

@media screen and (min-width: 768px) {
  .info-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .info-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .title-benefits {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .info {
    padding: 120px 0;
  }

  .info-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .info-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    min-width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .info-item {
    flex-basis: calc((100% - 24px) / 4);
  }

  .title-benefits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .title-benefits-text {
    font-weight: 400;
  }
}

/*team*/
.team {
  padding: 96px 0;
}

.team-list-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team {
  background-color: var(--cloud);
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
}

.team-list-img {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.team-list-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.team-info {
  padding: 32px 0;
}

.team-info .link-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-info .team-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  margin-top: 8px;
}

.team-info .icon-socials {
  fill: var(--cloud);
}

.team-info .team-icon .link-team:hover,
.team-info .team-icon .link-team:focus {
  background-color: var(--ocean);
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;

  margin-bottom: 8px;
}

.team-list-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container-team {
    padding: 0 108px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 64px 24px;
  }

  .team-list-img {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }

  .team-list {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
  }

  .team-list-img {
    flex-basis: calc((100% - 72px) / 4);
  }

  .team-list .team-list-img:nth-child(-n + 2) {
    margin-bottom: 0;
  }
}

/*portfolio*/

.portfolio {
  padding: 96px 0px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-list-img {
  flex-direction: column;
  padding: 0;
  overflow: hidden;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-portfolio {
  overflow: hidden;
  position: relative;
}

.portfolio-list-img:hover {
  cursor: pointer;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-list-img img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-list-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.overlay-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background-color: var(--iris);
  padding: 40px 32px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-img:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-list-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-list-img {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list-img {
    flex-basis: calc((100% - 48px) / 3);
  }
}

/*footer*/

footer {
  background-color: var(--navy-blue);
  padding: 96px 0px;
}

.footer-info,
.icon-footer {
  margin-bottom: 72px;
}

.accent-footer {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-site {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  min-width: 264px;
}

.team-icon {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}

.footer-socials-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;

  text-align: center;
}

.icon-footer .link-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer .icon-socials {
  fill: var(--cloud);
}

.icon-footer .team-icon .link-team:hover,
.icon-footer .team-icon .link-team:focus {
  background-color: var(--green);
}

.footer-subscr-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-email-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);

  margin-bottom: 16px;
  text-align: center;
}

.footer-input-field {
  background-color: transparent;
  outline: none;

  border: 1px solid var(--white);
  border-radius: 4px;
  min-width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  padding-left: 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  opacity: 0.3;

  margin-bottom: 16px;
}

.footer-input-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);

  opacity: 0.6;
}

.footer-subscr-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  min-width: 165px;
  height: 40px;
  background: var(--iris);
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);

  cursor: pointer;
}

.subscr-btn {
  fill: var(--white);
  margin-left: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  footer {
    background-color: var(--navy-blue);
    padding: 96px 0px;
  }

  .container-footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: flex-start;

    padding: 0 108px;
  }

  .footer-site,
  .team-icon {
    justify-content: flex-start;
  }
  .footer-text,
  .team-icon {
    margin: 0;
    max-width: 264px;
  }

  .footer-socials-text,
  .footer-email-text {
    text-align: start;
  }

  .footer-info,
  .icon-footer {
    flex-basis: calc((264px - 24px) / 2);
    margin: 0;
  }

  .footer-subscr-field {
    flex-direction: row;
    gap: 24px;
  }

  .footer-input-field {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .container-footer {
    display: flex;
    align-items: baseline;
    gap: 0;
    padding: 0 15px;
  }

  footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
  }

  .footer-info {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-site {
    justify-content: flex-start;
  }

  .icon-footer {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .footer-subscr-field {
    flex-direction: row;
    align-items: center;

    gap: 24px;
    margin: 0;
  }

  .footer-socials-text,
  .footer-email-text {
    text-align: start;
  }

  .footer-input-field {
    margin: 0;
  }
}

/*modal-window*/

.modal-overlay {
  background-color: rgb(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: all;
}

.modal-overlay-wrapper {
  border-radius: 4px;
  width: 288px;

  height: 50%;
  min-height: 623px;
  background-color: var(--dairy);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  overflow: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 72px 16px 0px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  cursor: pointer;
  width: 24px;
  height: 24px;

  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--navy-blue);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}

.modal-overlay-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.form-field {
  margin-bottom: 24px;
}

.form-field-wrapper .form-field:nth-child(-n + 3) {
  margin-bottom: 8px;
}

.form-field-wrapper .form-field:nth-child(4) {
  margin-bottom: 16px;
}
.form-label {
  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);

  margin-bottom: 4px;
}

.form-input {
  background-color: transparent;
  outline: transparent;

  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 100%;
  height: 40px;

  padding-left: 38px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal-input {
  fill: var(--navy-blue);
  position: relative;
}

.icon-modal-input svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.form-input-textarea {
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;

  resize: none;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}

.form-input-textarea {
  padding: 8px 16px;
}

.form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);

  fill: transparent;

  margin-right: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-form:checked + .checkbox-text > .form-custom-checkbox {
  background: var(--ocean);
  fill: var(--cloud);
  border: none;
}

.privacy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}

.checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-btn-send {
  display: block;

  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);

  cursor: pointer;
  margin: 0px 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-overlay-wrapper {
    width: 408px;
    height: 47%;
    min-height: 584px;
  }

  .modal-btn-send {
    margin: 0px 96px;
  }
}

@media screen and (min-width: 1158px) {
  .form-input + svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-input:focus {
    border-color: var(--iris);

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navy-blue);
  }

  .form-input:focus + svg {
    fill: var(--iris);
  }

  .form-input-textarea:focus {
    border-color: var(--iris);
  }
}
